fastapi
uvicorn[standard]
aiofiles==23.2.1

# Database and auth
databases[postgresql]
SQLAlchemy
asyncpg
psycopg2-binary
aiosqlite
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
email-validator
pydantic[email]

# Azure services
azure-ai-formrecognizer
azure-ai-textanalytics==5.3.0
azure-ai-language-questionanswering
azure-ai-language-conversations==1.1.0
azure-ai-vision-imageanalysis
azure-identity
azure-search-documents
openai

# Environment variables
python-dotenv

# Additional dependencies
jinja2
aiofiles

# Static files
python-multipart
